{% extends "layout.html" %} {% block main_content %}

<!-- Main Section -->
<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <h3>Enter new password</h3>

      <p>
        Please enter your new password twice so we can verify you typed it in
        correctly.
      </p>

      <br />

      <form
        class="form"
        method="POST"
        action="{{ url_for('auth.reset_pwd') }}"
      >
        {{ form.hidden_tag() }}

        <!-- Input:New Password -->
        <div class="form__field">
          <label for="formInput#password">{{form.password.label}}: </label>
          {{form.password(class="input input--password",
          id="formInput#passowrd", type="password", placeholder="••••••••")}} {%
          if form.password.help_text %}
          <small>{{form.password.help_text}}</small>
          {% endif %} {% for error in form.password.errors %}
          <p style="color: red">{{error}}</p>
          {% endfor %}
        </div>

        <!-- Input:Confirm New Password -->
        <div class="form__field">
          <label for="formInput#password"
            >{{form.confirm_password.label}}:
          </label>
          {{form.confirm_password(class="input input--password",
          id="formInput#passowrd", type="password", placeholder="••••••••")}} {%
          if form.confirm_password.help_text %}
          <small>{{form.confirm_password.help_text}}</small>
          {% endif %} {% for error in form.confirm_password.errors %}
          <p style="color: red">{{error}}</p>
          {% endfor %}
        </div>

        <div class="auth__actions">
          {{ form.submit(class="btn btn--sub btn--lg my-md", value="Submit") }}
          <a
            class="btn btn--sub btn--lg my-md"
            href="{{ url_for('auth.login') }}"
          >
            Cancel</a
          >
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
