{% extends "layout.html" %} {% block main_content %}

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <h3>Password reset</h3>

      <p>
        Forgotten your password? Enter your email address below, and we’ll email
        instructions for setting a new one.
      </p>

      <br />

      <form
        class="form reset_pwd__form"
        method="POST"
        action="{{ url_for('auth.reset_pwd_request') }}"
      >
        {{ form.hidden_tag() }}

        <!-- Input:Username -->
        <div class="form__field">
          <label for="formInput#text">{{form.email.label}}: </label>
          {{form.email(class="input input--text", id="formInput#text",
          type="text", placeholder="Enter your email...")}}
        </div>
        <div class="auth__actions">
          {{ form.submit(class="btn btn--sub btn--lg my-md", value="Submit") }}
          <a
            class="btn btn--sub btn--lg my-md"
            href="{{ url_for('auth.login') }}"
          >
            Cancel</a
          >
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
