{% from "macros/fields.html" import render_text_field, render_area_field%} {%
extends 'layout.html' %} {% block main_content %}

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <a
        class="backButton"
        href="{{ url_for('user.single_user', user_id=current_user.id) }}"
        ><i class="im im-angle-left"></i
      ></a>
      <br />

      <form class="form" method="POST" action="">
        {{ form.hidden_tag() }} {{ render_text_field(form.skill) }} {{
        render_area_field(form.description) }}

        <div class="auth__actions">
          {{ form.submit(class="btn btn--sub btn--lg my-md", value="Submit") }}
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock main_content %}
