{% from "macros/fields.html" import render_text_field, render_area_field,
render_file_field %} {% extends 'layout.html' %} {% block main_content %}

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <a class="backButton" href="{{ url_for('project.projects') }}"
        ><i class="im im-angle-left"></i
      ></a>
      <br />

      <form class="form" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form__field">
          {{ render_text_field(form.title) }} {{
          render_area_field(form.description) }} {{
          render_text_field(form.demo_link) }} {{
          render_text_field(form.source_link) }} {{
          render_file_field(form.project_pic) }}
        </div>

        <div class="form__field">
          {% for tag in tags %}
          <a
            href="{{ url_for('project.delete_tag', tag_id=tag.id, project_id=project.id) }}"
          >
            <div
              class="project-tag tag tag--pill tag--main"
              data-tag="{{tag.id}}"
              data-project="{{project.id}}"
            >
              {{tag.tag}} &#215;
            </div>
          </a>
          {% endfor %}
        </div>

        <div class="form__field">{{ render_area_field(form.tag) }}</div>

        <div class="auth__actions">
          {{ form.submit(class="btn btn--sub btn--lg", value="Submit") }}
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock main_content %}
